<div class="container">
  <div class="row" id="display">
  
      <input
        id="displayText"
        #display
        class="form-control output"
        type="text"
        placeholder="0"
        readonly
      />
   
  </div>
  <div id="calc">
    <div class="row">
      <button class="button num" id="num1" (click)="addText('1', display)">1</button>
      <button class="button num" id="num2" (click)="addText('2', display)">2</button>
      <button class="button num" id="num3" (click)="addText('3', display)">3</button>
      <button class="button operator" id="multiply" (click)="addText('*', display)">*</button>
    </div>
    <div class="row">
      <button class="button num" id="num4" (click)="addText('4', display)">4</button>
      <button class="button num" id="num5" (click)="addText('5', display)">5</button>
      <button class="button num" id="num6" (click)="addText('6', display)">6</button>
      <button class="button operator" id="plus" (click)="addText('+', display)">+</button>
    </div>
    <div class="row">
      <button class="button num" id="num7" (click)="addText('7', display)">7</button>
      <button class="button num" id="num8" (click)="addText('8', display)">8</button>
      <button class="button num" id="num9" (click)="addText('9', display)">9</button>
      <button class="button operator" id="minus" (click)="addText('-', display)">-</button>
    </div>
    <div class="row">
      <button class="button reset" id="clear" (click)="clear(display)">C</button>
       <button class="button num" id="num0" (click)="addText('0', display)">0</button>
       <button class="button equal" id="equal" (click)="evaluate(display)">=</button>
      <button class="button operator" id="divide" (click)="addText('/', display)">/</button>
    </div>
  </div>
</div>